@import "variables.less";
@import "../css/fontawesome-free-5.9.0-web/less/fontawesome.less";
@import "../css/fontawesome-free-5.9.0-web/less/solid.less";
@import "../css/fontawesome-free-5.9.0-web/less/fontawesome.less";
@import "../css/fontawesome-free-5.9.0-web/less/brands.less";


body{
    background: @background-color;
    // background-image: @bg-gradient;
    overflow-x: hidden;
    font-family: @main-font;
    color: @dark-blue;
    
    // background-size:     cover;                      /* <------ */
    // background-repeat:   no-repeat;
    // background-position: center center; 
    // height: 100vh;
    // background: @background-img;
    
}

.main{
    text-align: @header-align;
}

.nav{
    // vertical-align: top;
    background: @transparent-color;
    height: 190px;
    display: inline-block;
    width: 100%;
    text-align: @header-align;

    @media @phone-down {  height:100px; }
    @media @small-phone-down {  height:100px;}

}

.header{
    margin-top:45px;
    font-family: @main-font;
    color: @dark-blue;
    height: auto;
    // @media @wide-screen-down { width: 400px; }
    // @media @desktop-down{  width: 400px;}
    // @media @tablet-down {  width:400px;}
    @media @phone-down {  width:300px;  margin-top:20px; }
    @media @small-phone-down {   width:300px;  margin-top:20px; }

}

#cloud{
    animation-duration: 2s;
    // animation-delay: 2s;
    // animation-iteration-count: infinite;
}

// h2{
//     font-size: @header-size;
// }

.search-div{
    margin-top: 20px;
//   width: 400px;
  display: inline-block;
  @media @phone-down {  margin:20px; }
}


  input{

border-radius: 50px;
display: inline-block;
color: @dark-blue;
// font-weight: bold;
font-family: @input-font;
font-size: 24px;
height: 46px;
width: 400px;
opacity: 0.8;
border: none;
padding: 20px;
transition: 0.3s background-color ease-in-out, 0.3s;


    &:focus, &:hover{
    outline: none !important;
    opacity: 1;
    
  }
//     &:hover{
//     //   background: red;
//     opacity: 1;
//   }

  @media @wide-screen-down { width: 400px; }
  @media @desktop-down{  width: 400px;}
  @media @tablet-down {  width:400px;}
  @media @phone-down {  width:260px; }
  @media @small-phone-down {  width: 220px; font-size: 20px;}
  }
//   input


input::placeholder{
    color:@input-text-color;
    font-family: @input-font;
    font-size: 24px;
    padding-left: 2px;
    @media @small-phone-down { font-size: 20px;}
    }

  

  .fa-search-location{
        color: @icon-color;
        position: relative;
        cursor: pointer;
        font-size: 50px;
        // padding: 10px;
        left: 10px;
        top: 14px;
        transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.2);
            color: @dark-blue;
        }

    }


    //display

.display{
    margin-top: 50px;
}


//bg
.clouds-animated {
    background:  @background-color url('../img/clouds.png') repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    // height: 300px;
    // padding-top: 120px;
    // box-sizing: border-box;
    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;
  }
  
  
  @keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }


  //card
.border-c{
    border: 2px solid @logo-blue;
}


//my card
.my-card{
    height: 240px;
    width: 230px;
    background: #ffffff;
    border-radius: 20px;
    border: 2px solid @logo-blue;
}

.card-header{
    color: @dark-blue;
    font-size: 20px;
}

.weather-cond{
    color: #FFC106;
    font-weight: bold;
}

.celcius{
    font-size: 32px;
    font-weight: bold;
}


